<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://mxxreal.documents.azure.com:443/" />
    <add key="authKey" value="ZHl7w940RgeKOHLu0cMEji6SCivtoGhqx3JnwgocPMUzx0EQco0axcBYCAR9i07wteGqlkvJJKIzxPmiUyacbQ==" />
    <add key="database" value="ToDoList" />
    <add key="collection" value="Items" />
  </appSettings>
</configuration>